/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-orange-image-card-orange-image-card {
	border: 1px dotted #f00;
}
.previewImage {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
}

.components-placeholder__fieldset {
	display: block;
}
.components-text-control__input {
	padding: 10px !important;
	border-color: #cacaca !important;
}

.sidebarOption {
	padding: 10px;
}
