.wp-block-orange-image-card-orange-image-card {
}

.orangewp-image-card {
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	display: flex;
	position: relative;
	background: black;
}
.orangewp-image-card:hover .content {
	bottom: 30px;
}
.orangewp-image-card:hover .content p {
	opacity: 1;
	visibility: visible;
}
.orangewp-image-card img {
	width: 100%;
	height: 100%;
	opacity: 1;
	object-fit: cover;
	transition: 0.4s all ease;
}
.orangewp-image-card .content {
	position: absolute;
	width: 100%;
	bottom: -50px;
	box-sizing: border-box;
	color: white;
	padding: 20px;
	transition: 0.4s all ease;
}
.orangewp-image-card .content h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.orangewp-image-card .content p {
	visibility: hidden;
	opacity: 0;
	transition: 0.4s all linear;
}

.orangewp-image-card:hover .dim_bg {
	opacity: 0.5;
}

.orangewp-image-card:hover .blur_bg {
	filter: blur(3px);
}

.orangewp-image-card:hover .zoom_bg {
	transform: scale(1.1);
}
